$title-font: "Notable", sans-serif;
$body-font: "Nunito Sans", sans-serif;
$primary-color: #FE0000;
//$primary-color:#50F750;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::selection {
    background-color: $primary-color;
    color: white;
}

body {
    font-family: $body-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 18px;

    min-height: 100vh;
}

h1 {
    margin: 0;
    font-family: $title-font;
    font-size: 4rem;
    color: white;

    .gradient {
        color: transparent;
        background: hsla(96, 100%, 78%, 1);

        background: linear-gradient(0deg, hsla(96, 100%, 78%, 1) 0%, hsla(129, 90%, 65%, 1) 100%);

        background: -moz-linear-gradient(0deg, hsla(96, 100%, 78%, 1) 0%, hsla(129, 90%, 65%, 1) 100%);

        background: -webkit-linear-gradient(0deg, hsla(96, 100%, 78%, 1) 0%, hsla(129, 90%, 65%, 1) 100%);

        background-clip: text;
    }
}

h2 {
    font-family: $title-font;
    text-align: center;
    font-style: italic;
    font-size: 2.2rem;
}

a {
    display: inline-flex;
    position: relative;
    color: white;


    transition: all .1s;

    //text-decoration: none;
    text-decoration-thickness: 2px;

    .text {
        position: relative;
        z-index: 4;

    }

    .bg {
        flex-grow: 1;
        position: absolute;
        background-color: $primary-color;
        width: 0%;
        height: 100%;
        z-index: 3;
        right: 0;

        transition: all .2s;
    }

    &:hover .text {
        color: white;
    }

    &:hover .bg {
        width: 100%;
        left: 0;
    }
}

section#first {
    /*background: linear-gradient(to right, #f8a902, #f4762d);*/
    display: flex;
    flex-flow: row ;
    background: hsla(36, 100%, 79%, 1);

    background: linear-gradient(25deg, hsla(36, 100%, 79%, 1) 0%, hsla(117, 100%, 84%, 1) 100%);
    background: black;

    align-items: center;
    justify-content: center;

    padding: 2.5rem;

    overflow: hidden;
    position: relative;

    padding: 10rem;

    color: white;

    * {
        z-index: 2;
    }
}

section#first div {
    flex-grow: 3;
}


section#first .left {
    display:flex;
    max-width: 50%;
    min-width: 400px;
    padding: 50px 0;
    padding-left: 0px;
}

section#first .left .image {
    display: flex;
    align-items: center;
    justify-content: center;
}


section#first .left img {
    border-radius: 8px;
    width: 100%;
    max-width: 270px;
}

section#first .right {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;

    min-width: 200px;

    .links {
        margin-top: 5px;
        display:flex;
        align-items: center;
    }

    .instagram-icon {
        width: 2rem;
        fill: white;

        transition: .2s ease-out;

    }

    #instagram-colored {
        fill: url("#gradient");
        opacity: 0;
        position: absolute;
    }

    #instagram-anchor {
        height: 2rem;
        width: 2rem;

        margin-left: 1rem;
    }

    #instagram-anchor:hover {
        #instagram-colored {
            opacity: 1;
        }

        #instagram-mono {
            opacity: 0;
        }
    }
}

#powairx-logo {
    transition: 200ms ease-out;
}

#bgvideo {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;

    pointer-events: none;

    filter: brightness(0.6);
}

a.aboutus {
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    text-decoration: none;
    text-decoration-thickness: 2px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    color: black;

    padding: 12px 20px;
    border-radius: 30px;
    background: linear-gradient(45deg,#ffffff22, #ffffffbb, #ffffff22);

    transition: all 200ms;
    z-index: 4;

    span {
        font-size: 18px;
        transform: translateY(3px);
        width: 0%;
        position: absolute;
        right: 10px;
        transition: 200ms;
        opacity: 0;
    }


    .inside {
        top: 0;
        left: 0;
        position: absolute;
        background: white;
    }
}

a.aboutus:hover {
    /* HACK incoming */
    padding-right: 50px;
    background: $primary-color;
    color: white;

    span {
        width: 20%;
        opacity: 1;
    }
}

.country-flag {
	display: none;
}

section#about {
    .orospu {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        padding: 1rem 0;
        padding-bottom: 2rem;
        margin-bottom: 1rem;

        border-bottom: #11111155 solid 1px;

        &:last-child {
            border-bottom: none;
        }

        .info {
            flex-basis: 20rem;
            flex-grow: 1;

            h3 {
                font-family: $title-font;
                align-items: end;
            }
        }

        img.photo {
			object-fit: center;
            max-height: 15rem;
            margin-right: 1rem;
            border-radius: 8px;
        }

        .country-flag {
            width: 2rem;
        }
    }
}

section.sect {
    padding: 1rem 2rem;

    h2 {
        margin: 0;
    }
}

section#sponsors {
	.sponsors {
		display:flex;
		justify-content: center;
		img {
			max-width: 300px;
			width: 100%;
		}
	}
}

footer {
	min-height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: gray;
	font-size: 10px;
	font-family: monospace;
}

@media (width < 38rem) {
    section#about h3 {
        text-align: center;
    }
}

@media (width < 50rem) {
    section#first {
        flex-direction: column;
        justify-content: center;
    }

    section#first .right {
        align-items: center;
    }

    section#first .right * {
        text-align: center;
    }
}

@media (width > 60rem) {
    section.sect, section#about {
        //padding: 0 10rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111111;
        color: white;
    }

    section#about .orospu {
        border-bottom-color: #666;
    }
}
