* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background-color: #FE0000;
  color: white;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 18px;
  min-height: 100vh;
}

h1 {
  margin: 0;
  font-family: "Notable", sans-serif;
  font-size: 4rem;
  color: white;
}

h1 .gradient {
  color: transparent;
  background: linear-gradient(0deg, hsl(96, 100%, 78%) 0%, hsl(129, 90%, 65%) 100%);
  background-clip: text;
}

h2 {
  font-family: "Notable", sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 2.2rem;
}

a {
  display: inline-flex;
  position: relative;
  color: white;
  transition: all 0.1s;
  text-decoration-thickness: 2px;
}

a .text {
  position: relative;
  z-index: 4;
}

a .bg {
  flex-grow: 1;
  position: absolute;
  background-color: #FE0000;
  width: 0%;
  height: 100%;
  z-index: 3;
  right: 0;
  transition: all 0.2s;
}

a:hover .text {
  color: white;
}

a:hover .bg {
  width: 100%;
  left: 0;
}

section#first {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding: 10rem;
  color: white;
}

section#first * {
  z-index: 2;
}

section#first div {
  flex-grow: 3;
}

section#first .right {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}

section#first .right .links {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

section#first .right .instagram-icon {
  width: 2rem;
  fill: white;
  transition: 0.2s ease-out;
}

section#first .right #instagram-colored {
  fill: url("#gradient");
  opacity: 0;
  position: absolute;
}

section#first .right #instagram-anchor {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
}

section#first .right #instagram-anchor:hover #instagram-colored {
  opacity: 1;
}

section#first .right #instagram-anchor:hover #instagram-mono {
  opacity: 0;
}

#bgvideo {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
  filter: brightness(0.6);
}

a.aboutus {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  text-decoration: none;
  font-weight: 900;
  color: black;
  padding: 12px 20px;
  border-radius: 30px;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.13),
    rgba(255, 255, 255, 0.73),
    rgba(255, 255, 255, 0.13)
  );
  transition: all 200ms;
  z-index: 4;
}

a.aboutus span {
  font-size: 18px;
  transform: translateY(3px);
  width: 0%;
  position: absolute;
  right: 10px;
  transition: 200ms;
  opacity: 0;
}

a.aboutus:hover {
  padding-right: 50px;
  background: #FE0000;
  color: white;
}

a.aboutus:hover span {
  width: 20%;
  opacity: 1;
}

.country-flag {
  width: 2rem;
  height: auto;
  vertical-align: middle;
  margin-left: 6px;
}

section#about .orospu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: rgba(17, 17, 17, 0.33) solid 1px;
}

section#about .orospu:last-child {
  border-bottom: none;
}

section#about .orospu .info {
  flex-basis: 20rem;
  flex-grow: 1;
}

section#about .orospu .info h3 {
  font-family: "Notable", sans-serif;
}

section#about .orospu img.photo {
  max-height: 15rem;
  margin-right: 1rem;
  border-radius: 8px;
}

section.sect {
  padding: 1rem 2rem;
}

section.sect h2 {
  margin: 0;
}

section#sponsors .sponsors {
  display: flex;
  justify-content: center;
}

section#sponsors .sponsors img {
  max-width: 300px;
  width: 100%;
}

footer {
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 10px;
  font-family: monospace;
}

@media (width < 38rem) {
  section#about h3 {
    text-align: center;
  }
}

@media (width < 50rem) {
  section#first {
    flex-direction: column;
    justify-content: center;
  }

  section#first .right {
    align-items: center;
  }

  section#first .right * {
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111111;
    color: white;
  }

  section#about .orospu {
    border-bottom-color: #666;
  }
}
